---
const skills = [
  "JavaScript",
  "TypeScript",
  "React",
  "Node.js",
  "Express",
  "Docker",
  "Python",
  "Postgresql",
];
---

<section id="about" class="container section">
  <h1 class="md text_primary text_center">About Me</h1>
  <div class="text_center m1 lead">
    <p class="lead">A little about myself and my capabilities</p>
  </div>
  <div class="about_inner">
    <div>
      <p>
        Hello! My name is Razak and I enjoy creating things that live on the
        internet. I started programming about six years ago in python. I really
        enjoyed building websites with flask and django. I also enjoyed creating
        automation and web scraping scripts with my python knowledge.
        <br />
        <br />
        Nowadays, I write backends with node and express. Although I enjoy backend
        development, I am also a competent frontend developer with react and typescript.
        I also have experience with docker and postgresql.
      </p>
      <div class="about_cta">
        <a href="#contact" class="btn btn_cta"> Get In touch</a>
      </div>
    </div>
    <div class="tech">
      <p>Listed below are some of the technologies I currently work with:</p>
      <ul class="skills_list">
        {skills.map((skill, i) => <li>{skill}</li>)}
      </ul>
    </div>
  </div>
</section>

<style>
  .about_inner {
    display: grid;
    margin: 2rem 0 0 0;
    grid-template-columns: 4fr 3fr;
    grid-gap: 3rem;
  }

  .about_left {
    display: flex;
    flex-direction: column;
  }

  .about_cta {
    margin-top: 1rem;
  }

  .about_cta a {
    margin: 1rem 1rem 0 0;
  }

  .skills_list {
    display: grid;
    grid-template-columns: repeat(2, minmax(140px, 200px));
    grid-gap: 0 10px;
    padding: 0;
    margin: 1rem 0 0 0;
    overflow: hidden;
    list-style: none;
  }

  .skills_list li {
    position: relative;
    margin-bottom: 10px;
    padding-left: 20px;
  }

  .skills_list li:before {
    content: "▹";
    position: absolute;
    left: 0;
    color: var(--alert-color);
    font-size: 1.5rem;
    line-height: 1.5rem;
  }

  .tech {
    position: relative;
  }

  @media (max-width: 768px) {
    .about_inner {
      display: block;
    }
    .tech {
      margin: 2rem 0;
    }
  }
</style>
