---
import "../styles/mixin.css";
---

<header class="navbar">
  <div class="container nav_flex">
    <a href="#">
      <h1 class="logo">Razak Mo.</h1>
    </a>
    <nav>
      <ul class="nav_links">
        <li>
          <a class="nav_link active" href="#">Home</a>
        </li>
        <li>
          <a class="nav_link" href="#about">About</a>
        </li>
        <li>
          <a class="nav_link" href="#projects">Projects</a>
        </li>
        <li>
          <a class="nav_link" href="#contact">Contact</a>
        </li>
      </ul>
    </nav>
    <a href="#contact" class="cta btn btn_cta"> Contact</a>
  </div>
</header>

<style>
  .navbar {
    background-color: var(--primary-color);
    color: #fff;
    height: 70px;
    position: sticky;
    top: 0;
    overflow: hidden;
    z-index: 1100;
  }

  .nav_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  .nav_links {
    display: flex;
  }

  .nav_link {
    color: var(--light-color);
    padding: 0.6rem 1rem;
    margin: 0 0.2rem;
    text-transform: capitalize;
  }

  .nav_link:hover,
  .nav_link.active {
    border-bottom: 2px #fff solid;
  }

  .logo {
    font-size: 1.3rem;
    color: var(--light-color);
  }

  .cta {
    padding: 0.6rem 1.4rem !important;
  }

  /* Mobile */
  @media (max-width: 658px) {
    .navbar {
      height: 110px;
      position: relative;
    }

    .nav_flex {
      flex-direction: column;
    }

    .navbar ul {
      padding: 1rem;
      background-color: rgba(0, 0, 0, 0.1);
    }

    .logo {
      padding: 0.8rem;
    }

    .nav_flex .cta {
      display: none;
    }
  }
</style>
